*{
	margin:0;
	padding: 0;
}
body {
	background-color: #232323;
	font-family: "Montserrat", "Avenir";
}
#topBar{
	background-color: grey;
	height: 150px;

}
#p1{
	color: white;
	text-align: center;
}
#resetButton{
border: none;
background: grey;
color: white;
}
.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;

}

#container {
	margin: 20px auto;
	max-width: 600px;

}

h1{
text-align: center;
color: white;
}
